.Main_Row_contain_all_Card{
    width: 100%;
    overflow: hidden;
}
.apar{
    overflow: hidden;
}
.Card_With_Image_and_caption{
    display: flex;
    overflow-y: auto;

}
.Single_Image_card img{
   width: 180px; 
   height: 130px;

}
.Btns{
    overflow: hidden;
}
.Single_Image_card{
margin-left: 10px;
padding: 20px;
transition: 1s;
}

figcaption{
    color: white;
    text-justify:auto;
    text-align: center;
}
.Single_Image_card:hover{
    transform: scale(1.1);
}